@media screen and (max-width:500px){
  body { 
    width: 100vh;
    height: 100vw;
    /* transform-origin: left bottom; */
    transform: translateX(-25%) translateY(50%) rotate(90deg);
    font-size: 1vh;
  }
  
  .logo-text {
    font-size: 2vh;
  }
  .menu-item {
    font-size: 1.3vh;
  }
  .big-title {
    font-size: 2.5vh;
  }
  .category-item {
    font-size: 1.5vh;
  }
  .number {
    font-size: 1vh;
  }
  
  .name {
    font-size: 1.5vh;
  }
  .title {
    font-size: 2vh;
  }
  .passeur-item {
    font-size: 1.1vh;
  }
  .details-title {
    font-size: 2vh;
  }
  .list-item {
    font-size: 0.8vh;
  }
  .competence-text {
    font-size: 0.93vh;
  }
  .competence-progress {
    height: 3px;
  }
  .first {
    font-size: 2vh;
  }
  .last {
    font-size: 1.5vh;
  }

  .folder-name {
    font-size: 0.8vh;
  }
  .desc {
    font-size: 1vh;
  }
}
