*, ::after, ::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  width: 100vw;
  height: 100vh;
  background-repeat: repeat;
  background: linear-gradient(to right, rgba(162, 0, 255, 0.452) , rgba(0, 119, 255, 0.733)) , url("../../public/icons-gray-bg.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  cursor: none;
  overflow: hidden;
}
a {text-decoration: none;}


.cursor {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

.shadow {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.back-text {background: linear-gradient(to right, red , yellow);color: transparent;-webkit-background-clip: text;background-clip: text;transition: 1s;}
.back-text:hover {color: #ffffff;background: linear-gradient(to right, rgb(255, 115, 115) , rgb(250, 250, 122));}

.app {
  width: 90%;
  height: 85%;
  background-color: transparent; 
  display: flex;
  flex-direction: row;
}
.header {
  width: 10%;
  height: 100%;
  background-color: transparent; 
}
.logo {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-box {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
}

.logo-box-active {
  color: #000000;
  background-color: #ffffff;
}
.logo-text {
  padding: 2% 5%;
  font-size: 2vw;
  text-align: justify;
}
.menu {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.menu-item {
  min-width: 70%;
  height: 10%;
  color: #ffffff;
  font-size: 1.3vw;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 3px solid transparent;
  transition: all 0.5s;
}
.menu-item-active {
  border-bottom: 3px solid red;
  width: 100%;
  height: 15%;
  padding-left: 10%;
  color: #0c0707;
  background-color: #ffffff;
}

.container {
  width: 90%;
  height: 100%;
  background-color: #ffffff; 
  display: flex;
  flex-direction: row;
  position: relative;
}

.projets {
  width: 65%;
  height: 100%;
  background-color: transparent; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5%;
}
.big-title {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.5vw;
  text-align: justify;
  font-weight: bold;
  text-transform: uppercase;
}
.category {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.category-item {
  width: 20%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: transparent;
  font-size: 1.4vw;
  color: #0c0707;
  cursor: pointer;
}
.category-item-active {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: transparent;
  color: #ffffff;
  padding: 3%;
  font-size: 1.5vw;
  background: linear-gradient(to right, rgb(255, 115, 115) , rgb(250, 250, 122));
}
.number {
  font-size: 1vw;
  font-weight: lighter;
}
.caroussel {
  width: 100%;
  height: 50%;
}
.slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.polaroid {
  width: 50%;
  height: 100%;
  text-align: center;
}
.img {
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.info {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.name {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
}
.description {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 5%;
}
.title {
  font-weight: bold;
  font-size: 2vw;
}
.text {
  text-align: justify;
}
.strong{
  font-weight: bold;
}
.more {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #0c0707;
  color: #0c0707;
  cursor: pointer;
}
.passeur {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.passeur-item {
  width: 40%;
  height: 60%;
  border: 0.5px solid #0c0707;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1vw;
  background-color: transparent;
  color: #0c0707;
  cursor: pointer;
}
.passeur-number {
  font-size: 2vw;
  font-weight: lighter;
}
.details {
  width: 35%;
  height: 100%;
  background-color: #0c0707cc; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}

.details-title {
  width: 100%;
  height: 5%;
  font-weight: bold;
  text-align: center;
  font-size: 2vw;
  color: #ffffff;
}
.details-list {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.list-item {
  width: 85%;
  height: 8%;
  border: 0.5px solid #ffffff;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8vw;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}
.list-item-active {
  transform: scale(1.02);
  background-color: #ffffff;
  color: #0c0707cc;
}

.competences-list {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.competence {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.competence-text {
  width: 35%;
  color: #ffffff;
  font-size: 0.93vw;
}
.competence-progress {
  max-width: 65%;
  height: 6px;
  background: linear-gradient(to right, rgb(145, 255, 0) , rgb(166, 255, 0));
}
.profile {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.photo-box {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.photo-img {
  position: relative;
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
  overflow: hidden;
}

.photo-other {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
}
.other-item {
  width: 10%;
  height: 60%;
  border: 0.2vw solid #ffffff;
  background-color: #008CBA;
  color: #0c0707;
  border-radius: 50%;
  cursor: pointer;
}
.other-item-active{
  background-color: transparent;
  border: 0.2vw solid #008CBA;
}
.presentation {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 5%;	
  color: #ffffff;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  overflow: hidden;
}

.first {
  font-weight: bold;
  font-size: 2vw;
}
.last {
  font-weight: bold;
  font-size: 1.5vw;
}

.foot {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
}
.foot-more {
  width: 30%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #0c0707;
  color: #0c0707;
  cursor: pointer;
}


.services {
  width: 100%;
  height: 100%;
  background-color: transparent; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5%;
}
.carts {
  width: 100%;
  height: 90%;
  background-color: transparent; 
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.box {
  background-color: transparent;
  width: 23%;
  height: 90%;
  perspective: 1000px;
}
.box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.box-front,
.box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.box-front {
  background-image: linear-gradient(19deg, #fdbb21 0%, #ff2c21 100%);
}
.box-back {
  background-color: #0c0707cc; 
  transform: rotateY(180deg);
  position: relative;
}
.box:nth-child(even) .box-front {
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
.bgwhite {
  position: absolute;
  width: 98%;
  height: 97%;
  background-color: #fffffff9; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #060606;
}
.offres {
  width: 90%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: normal;
}
.desc {
  width: 90%;
  height: 30%;
  font-size: 1vw;
}
.forfait {
  width: 60%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  background: linear-gradient(to right, red , blue);
  cursor: pointer;
}
.btn-contact {
  width: 70%;
  height: 10%;
  position: absolute;
  z-index: 2;
  border: 0.5px solid #f7f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1vw;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}

.send-email{
  width: 100%;
  height: 90%;
  background-color: transparent; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.input-item {
  width: 100%;
  height: 15%;
  border: 0.5px solid #000;
  padding: 2%;
  font-size: 1vw;
  color: #000;
}
.socials-list {
  width: 100%;
  height: 90%;
  background-color: transparent; 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.social-item {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  color: #FFF;
}
.fa {
  width: 15%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  margin: 0 10% 0 0;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background-image: linear-gradient(19deg, #fdcd21 0%, #c421ff 100%);
  color: white;
}
  
.fa-whatsapp {
  background: #00b489;
  color: white;
}

.fa-github {
  border: 0.5px solid #000000;
  color: rgb(0, 0, 0);
}